@charset "UTF-8";
@font-face {
  font-family: "eamesMedium";
  src: url("fonts/EamesCenturyModern-Medium.eot");
  src: url("fonts/EamesCenturyModern-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/EamesCenturyModern-Medium.woff2") format("woff2"), url("fonts/EamesCenturyModern-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "eamesThin";
  src: url("fonts/EamesCenturyModern-Thin.eot");
  src: url("fonts/EamesCenturyModern-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/EamesCenturyModern-Thin.woff2") format("woff2"), url("fonts/EamesCenturyModern-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "eamesLightItalic";
  src: url("fonts/EamesCenturyModern-LightItalic.eot");
  src: url("fonts/EamesCenturyModern-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/EamesCenturyModern-LightItalic.woff2") format("woff2"), url("fonts/EamesCenturyModern-LightItalic.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "eamesLight";
  src: url("fonts/eamesLight.eot");
  src: url("fonts/eamesLight.eot?#iefix") format("embedded-opentype"), url("fonts/eamesLight.woff2") format("woff2"), url("fonts/eamesLight.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "eamesExtraBold";
  src: url("fonts/EamesCenturyModern-Bold.eot");
  src: url("fonts/EamesCenturyModern-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/EamesCenturyModern-Bold.woff2") format("woff2"), url("fonts/EamesCenturyModern-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "eamesRegular";
  src: url("fonts/EamesCenturyModern-Regular.eot");
  src: url("fonts/EamesCenturyModern-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/EamesCenturyModern-Regular.woff2") format("woff2"), url("fonts/EamesCenturyModern-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "eamesRegularItalic";
  src: url("fonts/EamesCenturyModern-RegularItalic.eot");
  src: url("fonts/EamesCenturyModern-RegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/EamesCenturyModern-RegularItalic.woff2") format("woff2"), url("fonts/EamesCenturyModern-RegularItalic.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: 'futuraBold';
  src: url("fonts/3097E9_0_0.eot");
  src: url("fonts/3097E9_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/3097E9_0_0.woff2") format("woff2"), url("fonts/3097E9_0_0.woff") format("woff"), url("fonts/3097E9_0_0.ttf") format("truetype");
}
@font-face {
  font-family: 'futuraMedium';
  src: url("fonts/3097E9_1_0.eot");
  src: url("fonts/3097E9_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/3097E9_1_0.woff2") format("woff2"), url("fonts/3097E9_1_0.woff") format("woff"), url("fonts/3097E9_1_0.ttf") format("truetype");
}
@font-face {
  font-family: 'futuraBook';
  src: url("fonts/3097E9_2_0.eot");
  src: url("fonts/3097E9_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/3097E9_2_0.woff2") format("woff2"), url("fonts/3097E9_2_0.woff") format("woff"), url("fonts/3097E9_2_0.ttf") format("truetype");
}
@font-face {
  font-family: 'futuraLightOblique';
  src: url("fonts/3097E9_3_0.eot");
  src: url("fonts/3097E9_3_0.eot?#iefix") format("embedded-opentype"), url("fonts/3097E9_3_0.woff2") format("woff2"), url("fonts/3097E9_3_0.woff") format("woff"), url("fonts/3097E9_3_0.ttf") format("truetype");
}
/*----------------------UNIVERSAL----------------------*/
/* line 5, ../scss/_custom.scss */
html {
  font-size: 16px;
  box-sizing: border-box;
  height: 100%;
}

/* line 10, ../scss/_custom.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 14, ../scss/_custom.scss */
body {
  font-family: "futuraBook", Arial, Helvetica, sans-serif;
  height: 100%;
}

/* line 19, ../scss/_custom.scss */
h1 {
  text-transform: uppercase;
  font-family: "eamesMedium", "Times New Roman", Times, serif;
  font-size: 2.25rem;
  line-height: 3rem;
}

/* line 26, ../scss/_custom.scss */
h2 {
  font-family: "eamesMedium", "Times New Roman", Times, serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

/* line 32, ../scss/_custom.scss */
h3 {
  font-family: "eamesMedium", "Times New Roman", Times, serif;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

/* line 38, ../scss/_custom.scss */
h4 {
  color: #919295;
  font-family: "eamesMedium", "Times New Roman", Times, serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  line-height: 1.75rem;
}

/* line 46, ../scss/_custom.scss */
p {
  font-family: "futuraBook", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* line 51, ../scss/_custom.scss */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #919295;
  margin: 20px;
  padding: 20px;
  quotes: "“" "”" "‘" "’";
}

/* line 59, ../scss/_custom.scss */
blockquote:before {
  color: #919295;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* line 68, ../scss/_custom.scss */
blockquote p {
  color: #919295;
  display: inline;
}

/* line 74, ../scss/_custom.scss */
#main ul {
  border-left: 0.0625rem solid #cbcbcd;
  list-style: none;
}
/* line 80, ../scss/_custom.scss */
#main ul li {
  position: relative;
  vertical-align: middle;
  padding-left: 1.875rem;
}
/* line 86, ../scss/_custom.scss */
#main ul li:before {
  content: '';
  width: 1.25rem;
  height: .0625rem;
  background: #cbcbcd;
  position: absolute;
  left: 0;
  top: .625rem;
}

/* line 98, ../scss/_custom.scss */
strong {
  font-family: "futuraBold", Arial, Helvetica, sans-serif;
}

/* line 102, ../scss/_custom.scss */
em {
  font-family: "eamesRegularItalic", "Times New Roman", Times, serif;
}

/* line 106, ../scss/_custom.scss */
img {
  max-width: 100%;
}

/* line 110, ../scss/_custom.scss */
a, a:focus {
  color: #000000;
  text-decoration: underline;
}
/* line 114, ../scss/_custom.scss */
a:hover, a :focus:hover, a:focus:hover, a:focus :focus:hover {
  color: #919295;
  text-decoration: none;
}

/* line 120, ../scss/_custom.scss */
a.button, a:active.button {
  width: 100%;
  margin: 2.5rem 0;
  color: #000000;
  text-decoration: none !important;
  position: relative;
  background: #cbcbcd;
  display: inline-block;
  padding: 1rem;
  margin: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 0.625rem;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 135, ../scss/_custom.scss */
a.button:hover, a:active.button:hover {
  background: #919295;
  text-decoration: none;
}
@media only screen and (min-width: 40em) {
  /* line 120, ../scss/_custom.scss */
  a.button, a:active.button {
    float: left;
    width: 46%;
  }
}

/*----------------------HOMEPAGE----------------------*/
/*-----HEADER-----*/
/* line 152, ../scss/_custom.scss */
.top-header {
  padding-top: 1.25rem;
}

/* line 156, ../scss/_custom.scss */
.logo {
  text-align: center;
}
@media only screen and (min-width: 64em) {
  /* line 156, ../scss/_custom.scss */
  .logo {
    text-align: left;
  }
}

/* line 167, ../scss/_custom.scss */
li#cnss_widget-2 {
  margin-bottom: 1.25rem;
  list-style: none;
}
/* line 171, ../scss/_custom.scss */
li#cnss_widget-2 h2.widgettitle {
  text-align: center;
  color: #919295;
  font-family: "eamesRegularItalic", "Times New Roman", Times, serif;
  font-size: 1.5rem;
}
@media only screen and (min-width: 64em) {
  /* line 171, ../scss/_custom.scss */
  li#cnss_widget-2 h2.widgettitle {
    text-align: left;
    font-size: 2rem;
  }
}
/* line 183, ../scss/_custom.scss */
li#cnss_widget-2 li {
  margin-right: 0.25rem;
}
/* line 186, ../scss/_custom.scss */
li#cnss_widget-2 li:last-child {
  margin-right: 0;
}

/* line 194, ../scss/_custom.scss */
.header-search .screen-reader-text {
  display: none;
}

/* line 198, ../scss/_custom.scss */
.header-search .search-form {
  position: relative;
}

/* line 202, ../scss/_custom.scss */
.header-search .search-field {
  height: 2rem;
  background: #e9e9ea;
  font-family: "futuraBook", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #000000;
  padding-right: 2rem;
}

/* line 212, ../scss/_custom.scss */
input[type="search"] {
  border: 1px solid #cbcbcd;
  box-shadow: none;
}
@media only screen and (min-width: 64em) {
  /* line 212, ../scss/_custom.scss */
  input[type="search"] {
    margin-bottom: 2.5rem;
  }
}
/* line 220, ../scss/_custom.scss */
input[type="search"]:focus {
  border: 1px solid #000000;
}

/* line 225, ../scss/_custom.scss */
.header-search .button {
  font-size: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 1rem;
  width: 1rem;
  background-image: url('../images/search-icon.png?1457725821');
  background-repeat: no-repeat;
  background-color: transparent;
}

/* line 239, ../scss/_custom.scss */
.off-canvas-wrapper-inner {
  height: 100%;
}

/* line 243, ../scss/_custom.scss */
.off-canvas-content {
  box-shadow: none;
}

/* line 247, ../scss/_custom.scss */
.top-bar-left {
  display: none;
}

/* line 252, ../scss/_custom.scss */
.top-bar-right {
  float: none;
}

/* line 258, ../scss/_custom.scss */
.top-bar-right.hide-for-large {
  float: none;
  width: inherit;
  padding: 0.375rem;
  padding-top: 0.125rem;
  border: 2px solid #919295;
  border-radius: 0.25rem;
  margin: 1.25rem 0;
  -moz-transition-property: border;
  -o-transition-property: border;
  -webkit-transition-property: border;
  transition-property: border;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 270, ../scss/_custom.scss */
.top-bar-right.hide-for-large:hover {
  border: 2px solid #cbcbcd;
}

/* line 275, ../scss/_custom.scss */
.top-bar {
  padding: 0;
  font-family: "futuraBook", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}
/* line 281, ../scss/_custom.scss */
.top-bar.row {
  padding: 0;
}
/* line 285, ../scss/_custom.scss */
.top-bar ul.medium-horizontal {
  text-align: center;
}
/* line 288, ../scss/_custom.scss */
.top-bar ul.medium-horizontal li {
  display: inline-block;
}
/* line 291, ../scss/_custom.scss */
.top-bar ul.medium-horizontal li a {
  background: #ffffff;
  text-decoration: none;
  color: #000000;
  -moz-transition: background;
  -o-transition: background;
  -webkit-transition: background;
  transition: background;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 298, ../scss/_custom.scss */
.top-bar ul.medium-horizontal li a:hover {
  text-decoration: none;
  background: #cbcbcd;
  color: #000000;
}
/* line 305, ../scss/_custom.scss */
.top-bar ul.medium-horizontal li a {
  background: transparent;
}
/* line 309, ../scss/_custom.scss */
.top-bar ul.medium-horizontal li.is-active {
  text-decoration: none;
  background: #cbcbcd;
  color: #000000;
}

/* line 322, ../scss/_custom.scss */
.top-bar ul.medium-horizontal li a {
  padding: 1rem 0.375rem;
}

/* line 328, ../scss/_custom.scss */
.top-bar, .top-bar ul, .off-canvas.position-right {
  background: transparent;
}

@media only screen and (min-width: 40em) {
  /* line 332, ../scss/_custom.scss */
  .off-canvas.position-right {
    display: none;
  }
}

/* line 339, ../scss/_custom.scss */
ul.menu.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active {
  z-index: 100;
  background: #000000;
  color: #ffffff;
}
/* line 345, ../scss/_custom.scss */
ul.menu.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 348, ../scss/_custom.scss */
ul.menu.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active li:last-child {
  border-bottom: none;
}
/* line 352, ../scss/_custom.scss */
ul.menu.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active li a {
  color: #ffffff;
}
/* line 355, ../scss/_custom.scss */
ul.menu.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active li a:hover {
  color: #000000;
}

/* line 362, ../scss/_custom.scss */
.dropdown.menu .is-dropdown-submenu-parent {
  padding-right: 20px;
}

/* line 366, ../scss/_custom.scss */
.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: transparent transparent transparent #000000;
  position: absolute;
  top: 16px;
  right: 6px;
}

/* line 377, ../scss/_custom.scss */
.menu-icon:after {
  background: #919295;
  box-shadow: 0 7px 0 #919295, 0 14px 0 #919295;
  -moz-transition-property: background, box-shadow;
  -o-transition-property: background, box-shadow;
  -webkit-transition-property: background, box-shadow;
  transition-property: background, box-shadow;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 384, ../scss/_custom.scss */
.menu-icon:hover:after {
  background: #cbcbcd;
  box-shadow: 0 7px 0 #cbcbcd, 0 14px 0 #cbcbcd;
}

/* line 392, ../scss/_custom.scss */
.off-canvas.position-right.is-open {
  background: #000000;
  height: 100%;
}
/* line 396, ../scss/_custom.scss */
.off-canvas.position-right.is-open a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
/* line 401, ../scss/_custom.scss */
.off-canvas.position-right.is-open a:hover {
  color: #000000;
  background: #cbcbcd;
  text-decoration: none;
}
/* line 407, ../scss/_custom.scss */
.off-canvas.position-right.is-open a:focus {
  border: none;
}

/* line 413, ../scss/_custom.scss */
.is-accordion-submenu-parent > a::after {
  border-color: #ffffff transparent transparent;
}

/*-----FEATURE SLIDER-----*/
/* line 422, ../scss/_custom.scss */
.owl-item .slide-caption, .owl-item.cloned .slide-caption, .owl-item.active .slide-caption {
  display: none;
}

/* line 426, ../scss/_custom.scss */
.owl-item.active.center .slide-caption {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 0.625rem;
}
/* line 432, ../scss/_custom.scss */
.owl-item.active.center .slide-caption h1 {
  color: #90A8CD;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px;
  line-height: 2.25rem;
}
/* line 437, ../scss/_custom.scss */
.owl-item.active.center .slide-caption h1 span {
  font-family: "eamesRegular", "Times New Roman", Times, serif;
  text-transform: lowercase;
  color: #ffffff;
}

/* line 445, ../scss/_custom.scss */
.feature-slider .slide-tilte {
  display: none;
}

/* line 451, ../scss/_custom.scss */
.owl-controls {
  width: 100%;
  position: absolute;
  top: 45%;
}
/* line 456, ../scss/_custom.scss */
.owl-controls .owl-prev {
  font-size: 0;
  opacity: .5;
  width: 1.875rem;
  height: 3.625rem;
  background-image: url('../images/arrow-prev.png?1457471237');
  position: absolute;
  left: 1.625rem;
  -webkit-transition: opacity .75s;
  -moz-transition: opacity .75s;
  -ms-transition: opacity .75s;
  transition: opacity .75s;
}
/* line 469, ../scss/_custom.scss */
.owl-controls .owl-prev:hover {
  opacity: 1;
}
/* line 474, ../scss/_custom.scss */
.owl-controls .owl-next {
  font-size: 0;
  opacity: .5;
  width: 1.875rem;
  height: 3.625rem;
  background-image: url('../images/arrow-next.png?1457471279');
  position: absolute;
  right: 1.625rem;
  -webkit-transition: opacity .75s;
  -moz-transition: opacity .75s;
  -ms-transition: opacity .75s;
  transition: opacity .75s;
}
/* line 487, ../scss/_custom.scss */
.owl-controls .owl-next:hover {
  opacity: 1;
}

/*-----HOMEPAGE CONTENT-----*/
/* line 497, ../scss/_custom.scss */
.mission-statement {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #000000;
}
/* line 501, ../scss/_custom.scss */
.mission-statement .columns {
  padding-bottom: 1.25rem;
  text-align: center;
  float: none;
  margin: 0 auto;
}

/* line 512, ../scss/_custom.scss */
#content #inner-content {
  padding: 0;
  margin-bottom: 2.5rem;
}

/* line 517, ../scss/_custom.scss */
#main {
  border-bottom: 1px solid #cbcbcd;
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 40em) {
  /* line 517, ../scss/_custom.scss */
  #main {
    min-height: 43.75rem;
    border-bottom: 0;
    border-right: 1px solid #000000;
  }
}

/* line 528, ../scss/_custom.scss */
#post-14 {
  width: 100%;
  text-align: center;
}
/* line 532, ../scss/_custom.scss */
#post-14 h2 {
  color: #919295;
  margin-bottom: 0;
}
/* line 537, ../scss/_custom.scss */
#post-14 p {
  line-height: 2rem;
  font-family: "eamesLight", "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

/* line 546, ../scss/_custom.scss */
.home-trend {
  text-align: center;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
@media only screen and (min-width: 40em) {
  /* line 546, ../scss/_custom.scss */
  .home-trend {
    width: 50%;
    float: left;
    display: inline;
  }
}
/* line 558, ../scss/_custom.scss */
.home-trend h3 span {
  font-family: "eamesMedium", "Times New Roman", Times, serif;
}
/* line 562, ../scss/_custom.scss */
.home-trend a {
  text-decoration: none;
}
/* line 565, ../scss/_custom.scss */
.home-trend a:hover {
  text-decoration: underline;
}

/* line 571, ../scss/_custom.scss */
.trend-overlay {
  position: relative;
  margin: 0 auto;
  margin-bottom: 0.625rem;
  max-width: 28.125rem;
  max-height: 14.0625rem;
  background: #000000;
}
/* line 579, ../scss/_custom.scss */
.trend-overlay p {
  padding: 0.625rem;
  line-height: 2rem;
  text-align: left;
  font-family: "eamesLightItalic", "Times New Roman", Times, serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-transition-property: background, opacity;
  -o-transition-property: background, opacity;
  -webkit-transition-property: background, opacity;
  transition-property: background, opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 597, ../scss/_custom.scss */
.trend-overlay p:hover {
  background: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 603, ../scss/_custom.scss */
.trend-overlay img {
  vertical-align: top;
}

/* line 613, ../scss/_custom.scss */
#sidebar1 #recent-posts-widget-with-thumbnails-2 {
  margin-bottom: 2.5rem;
  margin: 0 1.25rem;
}
/* line 617, ../scss/_custom.scss */
#sidebar1 #recent-posts-widget-with-thumbnails-2 a {
  font-size: 0.875rem;
  font-family: "futuraMedium", Arial, Helvetica, sans-serif;
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
}
/* line 624, ../scss/_custom.scss */
#sidebar1 #recent-posts-widget-with-thumbnails-2 a:hover {
  color: #919295;
  text-decoration: none;
}
/* line 630, ../scss/_custom.scss */
#sidebar1 #recent-posts-widget-with-thumbnails-2 .rpwwt-post-date {
  font-size: 0.875rem;
  font-family: "futuraBook", Arial, Helvetica, sans-serif;
  color: #000000;
}
/* line 636, ../scss/_custom.scss */
#sidebar1 #recent-posts-widget-with-thumbnails-2 li {
  margin-bottom: 1rem;
}
/* line 642, ../scss/_custom.scss */
#sidebar1 #text-2 h4.widgettitle {
  margin-bottom: 0;
  margin-left: 1.25rem;
}
/* line 647, ../scss/_custom.scss */
#sidebar1 .cat-item a {
  text-decoration: none;
}
/* line 650, ../scss/_custom.scss */
#sidebar1 .cat-item a:hover {
  text-decoration: underline;
}

/*----------------------INTERIOR----------------------*/
/*-----UNIVERSAL INTERIOR PAGE STYLES-----*/
/* line 663, ../scss/_custom.scss */
.banner-image {
  margin-bottom: 2.5rem;
}

/* line 668, ../scss/_custom.scss */
.page.page-template-blog-list article {
  position: inherit;
  height: initial;
  padding-bottom: 0;
}
@media only screen and (min-width: 40em) {
  /* line 668, ../scss/_custom.scss */
  .page.page-template-blog-list article {
    padding-bottom: 0;
  }
}

/* line 679, ../scss/_custom.scss */
.page article {
  position: relative;
  height: 100%;
  padding-bottom: 6rem;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 40em) {
  /* line 679, ../scss/_custom.scss */
  .page article {
    min-height: 43.75rem;
    margin-bottom: 0;
    padding-bottom: 8.75rem;
  }
}

/* line 692, ../scss/_custom.scss */
.page .content-footer-banner {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}

/* line 700, ../scss/_custom.scss */
.entry-content h3 {
  font-family: "eamesRegular", "Times New Roman", Times, serif;
}

/* line 705, ../scss/_custom.scss */
.breadcrumbs span {
  font-family: "futuraBook", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 0.875rem;
}
/* line 710, ../scss/_custom.scss */
.breadcrumbs span a {
  color: #000000;
  text-decoration: underline;
}
/* line 714, ../scss/_custom.scss */
.breadcrumbs span a:hover {
  color: #919295;
  text-decoration: none;
}
/* line 720, ../scss/_custom.scss */
.breadcrumbs span a span {
  color: #000000;
  text-decoration: underline;
}
/* line 724, ../scss/_custom.scss */
.breadcrumbs span a span:hover {
  color: #919295;
  text-decoration: none;
}

/*---------------TRENDS---------------*/
/* line 737, ../scss/_custom.scss */
.women-frames, .men-frames {
  padding: 0.625rem;
  font-family: "eamesRegular", "Times New Roman", Times, serif;
  text-align: center;
}
/* line 742, ../scss/_custom.scss */
.women-frames h3, .men-frames h3 {
  font-family: "eamesRegular", "Times New Roman", Times, serif;
}
@media only screen and (min-width: 40em) {
  /* line 737, ../scss/_custom.scss */
  .women-frames, .men-frames {
    text-align: left;
    float: left;
    display: inline;
    width: 50%;
  }
}

/* line 757, ../scss/_custom.scss */
.single-frame-container .single-frame {
  text-align: center;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 40em) {
  /* line 757, ../scss/_custom.scss */
  .single-frame-container .single-frame {
    float: left;
    display: inline;
    width: 50%;
  }
}
@media only screen and (min-width: 64em) {
  /* line 757, ../scss/_custom.scss */
  .single-frame-container .single-frame {
    text-align: left;
  }
}

/* line 774, ../scss/_custom.scss */
.single-frame-container .single-frame:nth-child(2n+1) {
  clear: both;
}

/* line 778, ../scss/_custom.scss */
.single-frame-container .frame-image {
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 40em) {
  /* line 778, ../scss/_custom.scss */
  .single-frame-container .frame-image {
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  /* line 778, ../scss/_custom.scss */
  .single-frame-container .frame-image {
    width: 50%;
    float: left;
  }
}

@media only screen and (min-width: 40em) {
  /* line 791, ../scss/_custom.scss */
  .single-frame-container .frame-text {
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  /* line 791, ../scss/_custom.scss */
  .single-frame-container .frame-text {
    padding-left: 1.25rem;
    float: left;
    width: 50%;
  }
}
/* line 803, ../scss/_custom.scss */
.single-frame-container .frame-text .slide-tilte {
  margin-bottom: 0.625rem;
}

/* line 810, ../scss/_custom.scss */
.frame-text .slide-tilte a {
  font-family: "futuraMedium", Arial, Helvetica, sans-serif;
  color: #000000;
  text-decoration: underline;
}
/* line 815, ../scss/_custom.scss */
.frame-text .slide-tilte a:hover {
  text-decoration: none;
}
/* line 820, ../scss/_custom.scss */
.frame-text .frame-properties {
  font-family: "futuraBook", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
}

/* line 828, ../scss/_custom.scss */
.single-frame .article-header a {
  color: #000000;
  font-size: 0.875rem;
}

/* line 836, ../scss/_custom.scss */
.single-frame-full img {
  display: block;
}
@media only screen and (min-width: 40em) {
  /* line 836, ../scss/_custom.scss */
  .single-frame-full img {
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

/* line 845, ../scss/_custom.scss */
.single-frame-full .frame-images {
  padding: 1.25rem;
  text-align: center;
}
/* line 849, ../scss/_custom.scss */
.single-frame-full .frame-images img {
  margin-bottom: 2.5rem;
}

/* line 854, ../scss/_custom.scss */
.frame-properties {
  font-size: 0.875rem;
}

/* line 858, ../scss/_custom.scss */
.single-frame-full .frame-title {
  font-family: "futuraMedium", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* line 866, ../scss/_custom.scss */
#content a.hi-res, #content a.low-res {
  margin: 0.625rem;
  color: #000000;
  text-decoration: none !important;
  position: relative;
  background: #cbcbcd;
  display: inline-block;
  padding: 0.625rem;
  padding-left: 2.5rem;
  border-radius: 0.625rem;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 878, ../scss/_custom.scss */
#content a.hi-res:hover, #content a.low-res:hover {
  background: #919295;
  text-decoration: none;
}

/* line 884, ../scss/_custom.scss */
#content a.hi-res:before, #content a.low-res:before {
  position: absolute;
  top: 0.75rem;
  left: 0.625rem;
  content: url('../images/res-icon.png?1458220433');
}

/*---------------BLOG---------------*/
/* line 897, ../scss/_custom.scss */
.blog-list-post-container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #cbcbcd;
}

/* line 903, ../scss/_custom.scss */
.blog-list-post-container:before, .blog-list-post-container:after {
  clear: both;
  content: '';
  display: table;
}

/* line 909, ../scss/_custom.scss */
.archive .blog-list-post-container:first-of-type {
  padding-top: 0;
}

/* line 913, ../scss/_custom.scss */
.archive .blog-list-post-container:last-of-type, .search-site:last-of-type {
  border-bottom: none;
}

/* line 918, ../scss/_custom.scss */
.blog-list-post-container .article-header {
  height: 200px;
  overflow: hidden;
  border: 10px solid #ccc;
}
@media only screen and (min-width: 40em) {
  /* line 918, ../scss/_custom.scss */
  .blog-list-post-container .article-header {
    float: left;
    width: 30%;
  }
}

@media only screen and (min-width: 40em) {
  /* line 929, ../scss/_custom.scss */
  .blog-list-post-container .entry-content {
    padding-left: 2.5rem;
    float: left;
    width: 70%;
  }
}
/* line 937, ../scss/_custom.scss */
.blog-list-post-container .entry-content h3 a {
  color: #000000;
  text-decoration: underline;
}
/* line 941, ../scss/_custom.scss */
.blog-list-post-container .entry-content h3 a:hover {
  color: #000000;
  text-decoration: none;
}
/* line 947, ../scss/_custom.scss */
.blog-list-post-container .entry-content a.excerpt-read-more {
  color: #000000;
}

/* line 952, ../scss/_custom.scss */
p.byline {
  text-transform: uppercase;
  font-family: "futuraBold", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  color: #cbcbcd;
}

/* line 960, ../scss/_custom.scss */
.blog-list-post-container .article-footer {
  display: none;
}

/* line 964, ../scss/_custom.scss */
#main ul.pagination {
  border-left: 0;
  list-style: none;
}
/* line 968, ../scss/_custom.scss */
#main ul.pagination li {
  position: static;
  padding-left: inherit;
}
/* line 973, ../scss/_custom.scss */
#main ul.pagination li:before {
  display: none;
  content: none;
}

/* line 979, ../scss/_custom.scss */
.pagination li.current {
  padding-left: 0.625rem !important;
  background: #000000;
}

/* line 984, ../scss/_custom.scss */
.pagination li {
  display: inline-block;
}

/* line 988, ../scss/_custom.scss */
.page-template-blog-list .feature-slider {
  margin-bottom: 2.5rem;
}

/* line 992, ../scss/_custom.scss */
.widget_categories {
  margin: 0 1.25rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #cbcbcd;
  padding-bottom: 0.625rem;
}
/* line 998, ../scss/_custom.scss */
.widget_categories h4 {
  font-size: 1.5rem;
}
/* line 1002, ../scss/_custom.scss */
.widget_categories ul li {
  margin: 0 0 .25rem !important;
}
/* line 1005, ../scss/_custom.scss */
.widget_categories ul li a {
  font-family: "futuraMedium", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* line 1017, ../scss/_custom.scss */
.single-post p.byline {
  text-transform: uppercase;
  font-family: "futuraBold", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  color: #cbcbcd;
}
/* line 1024, ../scss/_custom.scss */
.single-post .entry-title {
  margin-bottom: 1.25rem;
  font-family: "eamesExtraBold", "Times New Roman", Times, serif;
  font-size: 1.875rem;
}
/* line 1030, ../scss/_custom.scss */
.single-post .article-footer p.tags {
  font-family: "futuraBook", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}
/* line 1034, ../scss/_custom.scss */
.single-post .article-footer p.tags a, .single-post .article-footer p.tags a:visited {
  text-decoration: none;
}
/* line 1037, ../scss/_custom.scss */
.single-post .article-footer p.tags a:hover, .single-post .article-footer p.tags a :visited, .single-post .article-footer p.tags a:visited:hover, .single-post .article-footer p.tags a:visited :visited {
  text-decoration: underline;
}
/* line 1044, ../scss/_custom.scss */
.single-post .wp-caption {
  max-width: 40rem;
  padding: 1.25rem;
  margin: 2.5rem auto;
}
/* line 1049, ../scss/_custom.scss */
.single-post .wp-caption img {
  max-width: 600px;
}
/* line 1053, ../scss/_custom.scss */
.single-post .wp-caption p.wp-caption-text {
  text-align: left;
}
/* line 1058, ../scss/_custom.scss */
.single-post .post-nav-links {
  width: 250px;
  margin: 0 auto;
}
/* line 1062, ../scss/_custom.scss */
.single-post .post-nav-links a {
  text-decoration: none;
}
/* line 1065, ../scss/_custom.scss */
.single-post .post-nav-links a:hover {
  text-decoration: underline;
}
/* line 1071, ../scss/_custom.scss */
.single-post .previous-link {
  float: left;
  display: inline;
}
/* line 1076, ../scss/_custom.scss */
.single-post .next-link {
  float: right;
  display: inline;
}

/* line 1082, ../scss/_custom.scss */
.page .wp-caption {
  max-width: 39rem;
  padding: 1.25rem;
  margin: 2.5rem auto;
}
/* line 1087, ../scss/_custom.scss */
.page .wp-caption img {
  width: inherit;
}

/* line 1096, ../scss/_custom.scss */
.blog-list--container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #cbcbcd;
}

/* line 1102, ../scss/_custom.scss */
.blog-list--container .entry-content {
  margin-bottom: 0;
}
/* line 1105, ../scss/_custom.scss */
.blog-list--container .entry-content h3 a {
  color: #000000;
  text-decoration: underline;
}
/* line 1109, ../scss/_custom.scss */
.blog-list--container .entry-content h3 a:hover {
  color: #000000;
  text-decoration: none;
}
/* line 1115, ../scss/_custom.scss */
.blog-list--container .entry-content a.excerpt-read-more {
  color: #000000;
}
/* line 1119, ../scss/_custom.scss */
.blog-list--container .entry-content .article-header {
  display: none;
}

/* line 1128, ../scss/_custom.scss */
.frame-search {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 40em) {
  /* line 1128, ../scss/_custom.scss */
  .frame-search {
    width: 80%;
  }
}

/* line 1138, ../scss/_custom.scss */
input#searchsubmit {
  float: right;
  margin: 2.5rem 0;
  color: #000000;
  text-decoration: none !important;
  position: relative;
  background: #cbcbcd;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.625rem;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 1151, ../scss/_custom.scss */
input#searchsubmit:hover {
  background: #919295;
  text-decoration: none;
}

/* line 1157, ../scss/_custom.scss */
form .search-property {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #cbcbcd;
  padding: 0.625rem;
}

/* line 1164, ../scss/_custom.scss */
form .search-property:before {
  position: absolute;
  right: 1.25rem;
  top: 1.125rem;
  content: "";
  display: table;
  background-image: url('../images/down-arrow.png?1458328183');
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
}

/* line 1176, ../scss/_custom.scss */
form .search-property:first-of-type:before {
  display: none;
}

/* line 1181, ../scss/_custom.scss */
input[type="checkbox"] {
  display: none;
}

/* line 1185, ../scss/_custom.scss */
input[type="checkbox"] + label span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px 10px 5px 0;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cbcbcd;
  cursor: pointer;
}

/* line 1196, ../scss/_custom.scss */
input[type="checkbox"]:checked + label span {
  background-color: #ffffff;
  background: url('../images/checkmarks.png?1458332483') -48px top no-repeat;
}

/* line 1201, ../scss/_custom.scss */
.search-checkbox-container {
  padding: 0.625rem;
}

/* line 1208, ../scss/_custom.scss */
.search-site {
  border-bottom: 1px solid #cbcbcd;
  margin-bottom: 1.25rem;
}
/* line 1212, ../scss/_custom.scss */
.search-site section {
  margin-bottom: 1.25rem;
}
/* line 1216, ../scss/_custom.scss */
.search-site h3 a {
  text-decoration: underline;
}
/* line 1219, ../scss/_custom.scss */
.search-site h3 a:hover {
  text-decoration: none;
}

/* line 1228, ../scss/_custom.scss */
.search-results #main header ul {
  margin-bottom: 2.5rem;
}

/* line 1232, ../scss/_custom.scss */
.search-frames:nth-child(odd) {
  clear: both;
}

/* line 1236, ../scss/_custom.scss */
.search-frames {
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 40em) {
  /* line 1236, ../scss/_custom.scss */
  .search-frames {
    float: left;
    display: inline;
    width: 50%;
  }
}

/* line 1245, ../scss/_custom.scss */
.search-frames img {
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 40em) {
  /* line 1250, ../scss/_custom.scss */
  .search-frames section > a {
    float: left;
    display: inline;
    width: 50%;
  }
}

/* line 1259, ../scss/_custom.scss */
.search-frames .frame-properties {
  padding-left: 1.25rem;
}
@media only screen and (min-width: 40em) {
  /* line 1259, ../scss/_custom.scss */
  .search-frames .frame-properties {
    float: left;
    display: inline;
    width: 50%;
  }
}

/* line 1272, ../scss/_custom.scss */
article#content-not-found {
  padding: 2.5rem;
  margin: 0 auto;
  border-radius: 0.3125rem;
}
@media only screen and (min-width: 64em) {
  /* line 1272, ../scss/_custom.scss */
  article#content-not-found {
    width: 60%;
  }
}

/* line 1282, ../scss/_custom.scss */
.error404 .search input[type="search"] {
  background: #e9e9ea;
  margin-bottom: 1rem;
}

/* line 1287, ../scss/_custom.scss */
.error404 .search input[type="submit"] {
  font-size: 1rem;
  text-transform: uppercase;
  float: right;
  color: #000000;
  background: #cbcbcd;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  -moz-transition: background;
  -o-transition: background;
  -webkit-transition: background;
  transition: background;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 1299, ../scss/_custom.scss */
.error404 .search input[type="submit"]:hover {
  background: #919295;
}

/* line 1304, ../scss/_custom.scss */
.error404 .span.screen-reader-text {
  font-size: 0.75rem;
}

/* line 1311, ../scss/_custom.scss */
#wpcf7-f8007-p49-o1 {
  width: 80%;
  margin: 1rem;
}
/* line 1315, ../scss/_custom.scss */
#wpcf7-f8007-p49-o1 input[type="text"], #wpcf7-f8007-p49-o1 input[type="email"], #wpcf7-f8007-p49-o1 textarea {
  background: #e9e9ea;
  box-shadow: none;
  border: 1px solid #cbcbcd;
}
/* line 1320, ../scss/_custom.scss */
#wpcf7-f8007-p49-o1 input[type="text"]:focus, #wpcf7-f8007-p49-o1 input[type="email"]:focus, #wpcf7-f8007-p49-o1 textarea:focus {
  border: 1px solid #000000;
}
/* line 1325, ../scss/_custom.scss */
#wpcf7-f8007-p49-o1 p {
  font-size: 0.75rem;
}

/* line 1330, ../scss/_custom.scss */
#wpcf7-f8007-p49-o1 input[type="submit"] {
  font-size: 1rem;
  text-transform: uppercase;
  float: right;
  color: #000000;
  background: #cbcbcd;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.3125rem;
  -moz-transition: background;
  -o-transition: background;
  -webkit-transition: background;
  transition: background;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 1343, ../scss/_custom.scss */
#wpcf7-f8007-p49-o1 input[type="submit"]:hover {
  background: #919295;
}

/* line 1348, ../scss/_custom.scss */
div.wpcf7-mail-sent-ok {
  border: 1px solid #000000;
  font-size: 16px;
  text-align: center;
  font-family: futuraMedium;
  text-transform: uppercase;
}

/* line 1356, ../scss/_custom.scss */
div.wpcf7-validation-errors {
  border: 1px solid #000000;
  font-size: 16px;
  text-align: center;
  font-family: futuraMedium;
  text-transform: uppercase;
}

/* line 1364, ../scss/_custom.scss */
input:-webkit-autofill {
  background-color: #cbcbcd;
}

/* line 1371, ../scss/_custom.scss */
.page-id-7780 #main {
  display: block;
}

/* line 1379, ../scss/_custom.scss */
.footer {
  margin: 0;
  padding-top: 1rem;
  text-align: center;
  color: #000000;
  font-family: "futuraBook", Arial, Helvetica, sans-serif;
  background: #ffffff;
}

/* line 1388, ../scss/_custom.scss */
.footer nav {
  margin-bottom: 0.625rem;
}
@media only screen and (min-width: 64em) {
  /* line 1388, ../scss/_custom.scss */
  .footer nav {
    margin-bottom: none;
    float: left;
    display: inline;
  }
}
/* line 1397, ../scss/_custom.scss */
.footer nav a {
  text-decoration: underline;
  padding: .25rem 1rem !important;
  color: #000000;
  font-size: 0.875rem;
}
/* line 1403, ../scss/_custom.scss */
.footer nav a:hover {
  color: #919295;
  text-decoration: none;
}
/* line 1409, ../scss/_custom.scss */
.footer nav ul {
  text-align: center;
}
/* line 1413, ../scss/_custom.scss */
.footer nav li {
  display: inline-block;
  border-left: 1px solid #000000;
}
/* line 1417, ../scss/_custom.scss */
.footer nav li:first-of-type {
  border-left: none;
}

/* line 1423, ../scss/_custom.scss */
.footer p.copyright {
  font-size: 0.6875rem;
}
@media only screen and (min-width: 64em) {
  /* line 1423, ../scss/_custom.scss */
  .footer p.copyright {
    float: right;
    display: inline;
  }
}
